* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #F1F1F1;
    /* width: screen-width; */
    padding-bottom: 25px;
}
a{
    text-decoration: none;
    color: black;
    display: inline;
}

.logo h1{
    display: inline;
    padding-left: 5px;
    color: black;
    opacity: 0.9;
}
.logo a img{
    margin-bottom: 4px;
    width: 30px;
}
.container{
    width: 70%;
    margin: auto;
    padding:25px;
    padding-bottom: 5px;


}
.small-container{
    width: 100%;
    display: flex;
}
nav{
    display: flex;


}
.logo{
    display: inline;
}
.navright{
   
    display: inline;
    flex: 1;
}
.navright ul{
    text-align: right
}
ul li{


    list-style: none;
    display: inline;
    
    padding: 8px;
}
ul li a{
    
    text-decoration: none;
    color: black;

}
.logo img{
    display: inline-block;
    vertical-align: middle;

    border-radius: 50%;
}
.row {
    display: flex;
    padding-top: 50px;
}
#salutation{
    margin-top: 136px;
    font-size: 26px;
    margin-top:auto;
    margin-bottom: auto;
}
.my-img{
    
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 10%;
        margin-left: 40px;
        transition: 800ms;
        
}
.my-img:hover{
    transform: translateX(50px);
    border-radius: 50%;
}
.row .col1{
    width: 50%;
}

header .container{
    padding-top: 50px;
}

/* Skills  */

.skills{
    text-align: center;
}
.skills hr{
    width: 50px;
    background-color: #EB4747;
    height: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.skills .row{
    justify-content: center;
}
.skills a{
    transition: 400ms;
}

.skills .row .row1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills a:hover{
    transform: translateY(-3px);
}
/* Projects */

.project{
    text-align: center;
}
.project .row{
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    flex-wrap: wrap;
}
.project .col{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.project hr {
    width: 80px;
    background-color: #EB4747;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

.project img{
    width: 250px;
    height: 250px;
    }
.project-name{
    transition: 450ms;
    background-color: #D3D3D3;
    margin: 5px 40px 40px 0;
    border-radius: 10%;
}
.project-name:hover{
    transform: translateY(-5px);
}

/* footer */
footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 5%;
}
.thanks{
    margin-top: auto;
}
.thanks a{
    color: white;
    opacity: 0.75;
    transition: 250ms;
}
.thanks a:hover{
    color: white;
    opacity: 1;
}

/* Media Query */

@media(max-width:780px){
    .project .col{
        flex-direction: column;

    }

    header{
        height:auto;
    }
    .logo{
        display: block;
        align-items: center;
        margin: 0 auto;
    }
    .logo a{
        display: block;
        margin: auto;
    }
        .logo a img{
            display: block;
            margin: auto;
        }

    /* .my-img{
        height: 90%;
        width: 50%;
        margin-left: 2px;
        margin-top: auto;
        margin-bottom: auto;
    } */

    #hello{
        text-align: center;

        display: block;
    }
    #hello img{
        width: 100%;
        margin:15px auto;
    }
        .my-img:hover {
            border-radius: 50%;
            transform: none;
        }

                ul li {
        
        
                    list-style: none;
                    display: block;
                    margin-right: auto;
                    padding: 8px;
                }

    .skills .row {
        flex-direction: column;
        
    }
    .skills .row .row1{
        padding: 25px;
    
    }



    .small-container{
        flex-direction: column;
        align-items: center;
    }
    .navright{
        margin-top: 5px;
    }
    .navright ul li{
        display: inline;
    }

    .project-name{
        margin: 8px auto 0 auto;
    }
}