* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: bisque;
    width: screen-width;
}
a{
    text-decoration: none;
    color: black;
}

.logo h1{
    display: inline;
    padding-left: 5px;
    color: black;
    opacity: 0.9;
}
.logo img{
    margin-bottom: 4px;
}
.container{
    width: 70%;
    margin: auto;
    padding:25px;
    padding-bottom: 5px;


}
.small-container{
    width: 100%;
    display: flex;
}
nav{
    display: flex;


}
.logo{
    width: 500px;
    display: inline;
}
.navright{
   
    display: inline;
    flex: 1;
}
.navright ul{
    text-align: right
}
ul li{


    list-style: none;
    display: inline;
    
    padding: 8px;
}
ul li a{
    
    text-decoration: none;
    color: black;

}
.logo img{
    display: inline-block;
    vertical-align: middle;
    width: 7%;
    border-radius: 25px;
}
.row {
    display: flex;
    padding-top: 50px;
}
#salutation{
    margin-top: 136px;
    font-size: 26px;
    margin-top:auto;
    margin-bottom: auto;
}
.my-img{
    
        width: 60%;
        float: right;
        border-radius: 10%;
        margin-left: 40px;
        transition: 800ms;
        
}
.my-img:hover{
    transform: translateX(50px);
    border-radius: 50%;
}
.row .col1{
    width: 50%;
}

/* Skills  */

.skills{
    text-align: center;
}
.skills hr{
    width: 50px;
    background-color: #EB4747;
    height: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.skills .row {
    justify-content: space-around;

}
.skills a{
    transition: 400ms;
}
.skills a:hover{
    transform: translateY(-3px);
}
/* Projects */

.project{
    text-align: center;
}
.project .row{
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    flex-wrap: wrap;
}
.project .col{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: center;
    
}
.project hr {
    width: 80px;
    background-color: #EB4747;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

.project img{
    width: 300px;
    height: 300px;
    }
.project-name{
    transition: 450ms;
    background-color: #D3D3D3;
    margin: 5px 40px 40px 0;
    border-radius: 10%;
}
.project-name:hover{
    transform: translateY(-5px);
}

/* footer */
footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 5%;
}
.thanks{
    margin-top: auto;
}
.thanks a{
    color: white;
    opacity: 0.75;
    transition: 250ms;
}
.thanks a:hover{
    color: white;
    opacity: 1;
}

/* Media Query */

@media(max-width:780px){
    .project .col{
        flex-direction: column;
    }
}